.container-form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario {
    margin-top: 1%;
    margin-block-end: 1%;
    width: 500px;
    padding: 30px;
    border: 1px solid rgb(235, 182, 8);
}

.formulario p {
    width: 100%;
    font-size: 1.5em;
}

.field {
    width: 100%;
    margin: 15px 0;
}

.field label,
.field span {
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

input#nao {
    margin-left: 30px;
}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit] {
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
}